@{ ViewData["Title"] = "Home Page"; }

<main>

    <!------------------------ Site Title ---------------------->

    <section class="site-title">
        <div class="site-background" data-aos="fade-up" data-aos-delay="100">
            <h1 style="text-align: left;">VIRTUAL POSTGRADUATE <br> OPEN EVENT - 9 MARCH</h1>
            <h3 style="text-align: left;">Learn more about your course of interest from Greenwich <br> academics, as well as all the career-boosting and financial <br> support opportunities that the University offers.</h3>
            <button class="btn">BOOK NOW</button>
        </div>
    </section>

    <!------------x----------- Site Title ----------x----------->
    <!-- --------------------- Blog Carousel ----------------- -->

    <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="~/Content/assets/gre_uk/Shcool.png" alt="post-1">
                        <div class="blog-title">
                            <h3>University of Greenwich signs pledge to ensure women’s safety</h3>
                            <button class="btn btn-blog">Go</button>
                            <span>27/02/2022</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                        <img src="~/Content/assets/gre_uk/metting.png" alt="post-1">
                        <div class="blog-title">
                            <h3>Degree apprenticeships allow Engineering and Science students</h3>
                            <button class="btn btn-blog">Go</button>
                            <span>27/02/2022</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                        <img src="~/Content/assets/gre_uk/yard.png" alt="post-1">
                        <div class="blog-title">
                            <h3>Health students combine work and study on degree apprenticeships</h3>
                            <button class="btn btn-blog">Go</button>
                            <span>27/02/2022</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="~/Content/assets/gre_uk/people.png" alt="post-1">
                        <div class="blog-title">
                            <h3>Greenwich in top five for social mobility another Combine work and study</h3>
                            <button class="btn btn-blog">Go</button>
                            <span>27/02/2022</span>
                        </div>
                    </div>
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------x---------- Blog Carousel --------x-------- -->
    <!-- ---------------------- Site Content -------------------------->

    <section class="container">
        <div class="site-content">
            <div class="posts">
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="~/Content/assets/gre_uk/friend.png" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14, 2022</span>
                            <span>2 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Undergraduate study</a>
                        <p>
                            Study for an undergraduate degree at the University of Greenwich. Find your ideal course from a selection of over 200 and discover more about the student experience.
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="~/Content/assets/gre_uk/lib.png" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 16, 2022</span>
                            <span>7 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Postgraduate study</a>
                        <p>
                            Most of our postgraduate courses offer flexible learning options such as distance learning or part-time study. Find your ideal course and discover our facilities and subject experts.
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="~/Content/assets/gre_uk/lab.png" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 19, 2022</span>
                            <span>5 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">International study</a>
                        <p>
                            We offer a wide variety of courses and ways to study for those coming from abroad. If you are an international student looking to continue your education in the UK then we can help you.
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="~/Content/assets/gre_uk/scientist.png" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2022</span>
                            <span>12 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Research and enterprise</a>
                        <p>
                            Your business can access our base of experts, dedicated facilities and specialised training.
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="pagination flex-row">
                    <a href="#"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="pages">1</a>
                    <a href="#" class="pages">2</a>
                    <a href="#" class="pages">3</a>
                    <a href="#"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <aside class="sidebar">
                <div class="category">
                    <h2>Category</h2>
                    <ul class="category-list">
                        <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                            <a href="#">Software</a>
                            <span>(05)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                            <a href="#">Techonlogy</a>
                            <span>(02)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                            <a href="#">Lifestyle</a>
                            <span>(07)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                            <a href="#">Shopping</a>
                            <span>(01)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                            <a href="#">Food</a>
                            <span>(08)</span>
                        </li>
                    </ul>
                </div>
                <div class="popular-post">
                    <h2>Popular Post</h2>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="~/Content/assets/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span>
                                    <i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2022
                                </span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">New data recording system to better analyse road accidents</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                        <div class="post-image">
                            <div>
                                <img src="~/Content/assets/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span>
                                    <i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2022
                                </span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">New data recording system to better analyse road accidents</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                        <div class="post-image">
                            <div>
                                <img src="~/Content/assets/popular-post/m-blog-3.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span>
                                    <i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2022
                                </span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">New data recording system to better analyse road accidents</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                        <div class="post-image">
                            <div>
                                <img src="~/Content/assets/popular-post/m-blog-4.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span>
                                    <i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2022
                                </span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">New data recording system to better analyse road accidents</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                        <div class="post-image">
                            <div>
                                <img src="~/Content/assets/popular-post/m-blog-5.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span>
                                    <i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2022
                                </span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">New data recording system to better analyse road accidents</a>
                        </div>
                    </div>
                </div>
                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Newsletter</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn">Subscribe</button>
                    </div>
                </div>
                <div class="popular-tags">
                    <h2>Popular Tags</h2>
                    <div class="tags flex-row">
                        <span class="tag" data-aos="flip-up" data-aos-delay="100">Software</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="200">technology</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="300">travel</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="400">illustration</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="500">design</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="600">lifestyle</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="700">love</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="800">project</span>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>
