@model IEnumerable<IDS_School.Models.Chat>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Chat.cshtml";
    //var getRoom = (List<Chat>)ViewData["getRoom"];
}
<h1>Pick A Room</h1>
<div class="main">
    <div class="side-menu">
        @foreach (var eachRoom in Model)
        {
            <a class="room-button" asp-controller="HomeChat" asp-action="Chat" asp-route-id="@eachRoom.Id">
                @eachRoom.Name
            </a>}

        <a class="room-button" id="create-room-btn" href="#">
            <strong>+</strong>
        </a>
    </div>
    <div class="modal" id="create-room-modal">
        <form asp-controller="HomeChat" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name" />
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>

    <script src="~/js/New_chat.js"></script>
    @*@RenderSection("Scripts", false)*@
</div>
    @*<img src="~/images/greenwich1.jpg" />*@
