@model IDS_School.Models.Idea

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}


<div class="content-wrapper">
    <div class="card-header">
        <h3 class="card-title">Post Your Idea</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="SubmissionId" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="LastModifiedDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"> Select Category</label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" name="isAcceptTerms" value="true" class="form-control" />
                By checking this box, you are agreeing to <strong style="color:blue">our terms of service</strong>
            </div>
            <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary" name="isAnoymous" value="true">
                <input type="hidden" value="false" name="isAnoymous" />
                <label for="checkboxPrimary">Comment as an anonymous ?</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to list</a>
            </div>
        </form>
    </div>
</div>